<div class="container">
    <h2 class="text-center">My History</h2>
    <hr>
    <div class="border">
        <div class="row">
          <div class="col-sm-6">
            <img src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/13125/largest/rajasthan-sagar-palwe.jpg" alt="">
          </div>
          <div class="col-sm-6 content">
            <p class="display-6">Image Name</p>
            <p> Artist Name</p>
            <p>Dimension</p>
            <p>Price</p>
          </div>
        </div> 
      </div>
</div>