<h2 class="text-center">My Profile</h2> 
<hr>
<div class="container">
  <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4">
        <!-- <img src="/assets/blank-profile-picture.jpg" alt="profile" class="responsive"> -->
        <img src="https://www.artzolo.com/sites/default/files/pictures/picture-12055-1626785355.jpg" alt="" class="responsive">
      </div>
      <div class="col-sm-9 col-md-6 col-lg-8">
        <dl class="row">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">Vijay Gille</dd>
          <dt class="col-sm-3">Nationality</dt>
          <dd class="col-sm-9">Indian</dd>
          <dt class="col-sm-3">E-mail Id</dt>
          <dd class="col-sm-9">vijaygille@gmail.com</dd>
          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">ipsom Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa unde maxime aperiam, quam eaque voluptate, sit totam expedita quaerat iure sed cupiditate veritatis temporibus qui saepe rem doloremque quis.</dd>
        </dl>
      </div>
  </div>
</div>
