<h2 class="text-center">My Profile</h2> 
<hr>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4">
        <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.2.851654322.1655635530" alt="" class="responsive">
      </div>
      
      <div class="col-sm-9 col-md-6 col-lg-8"> <br><br>
        <dl class="row">         
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">Vijay Gille</dd>
          <dt class="col-sm-3">E-mail Id</dt>
          <dd class="col-sm-9">vijaygille@gmail.com</dd>
          <dt class="col-sm-3">Contact</dt>
          <dd class="col-sm-9">+91 9876543210</dd>
          <dt class="col-sm-3">Address</dt>
          <dd class="col-sm-9">Street:  K 1, Kailash Colony

            City:   Delhi
            
            State/province/area:    Delhi
            
            Phone number  01126432694
            
            Zip code  110048
            
            Country calling code  +91
            
            Country  India</dd>
        </dl>
      </div>
  </div>
</div>