<body>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Fusion Arts</h1>
                <p>Earth without art is just “eh”<br>Interactions between the elements and principles <br>of art help
                    artists to organize sensorially pleasing works of art while also giving viewers a framework
                    within which to analyze and discuss aesthetic ideas.</p>

            </div>
        </div>


        <div class="right">

            <h5 class="login"><b>Login</b></h5><br>

            <p>Don't have an account? <a href="/register">Creat Your Account</a> it takes less than a minute</p>
            <form  class="form_group field">
                <div class="inputs">
                    <input id="email" name="email"  type="email" placeholder="Enter Your Email" required>
                    <br>
                    <input id="password" name="password"  type="password" placeholder="Enter Your Password" required>
                </div>
            </form>
            <br><br>

            <div class="remember-me">
                <!-- Angular -->


            </div>

            <br>
            <button type="submit">Login</button>
        </div>

    </div>
</body>