<footer class="footer">
    <div class="container">
    <div class="row">
        <!-- <div class="footer-col">
            <h4>Marketplace</h4>
            <ul>
                <li><a href="#">All NFTs</a></li>
                <li><a href="#">Solana NFTs</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Collectibles</a></li>
                <li><a href="#">Domain names</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Utility</a></li>
            </ul>
        </div> -->
        <div class="footer-col">
            <h4>art collections</h4>
            <ul>
                <li><a routerLink="mural">Mural</a></li>
                <li><a routerLink="acrylic">acrylic</a></li>
                <li><a routerLink="abstract">Abstract</a></li>
                <li><a routerLink="watercolor">watercolor</a></li>
                <li><a routerLink="pastel">Pastel</a></li>
                <li><a routerLink="charcoal">Charcoal</a></li>
                <!-- <li><a href="#">NFTs</a></li> -->

            </ul>
        </div>
        <div class="footer-col">
            <h4>artists</h4>
            <ul>
                <li><a href="#">Akbar Padamsee</a></li>
                <li><a href="#">Anjolie Ela Menon</a></li>
                <li><a href="#">Bharati Shah</a></li>
                <li><a href="#">Bansi Khatri</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">register</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">platform status</a></li>
                <li><a href="#">partners</a></li>
                <li><a href="#">Taxes</a></li>
                <li><a href="#">newsletter</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            </div>
        </div>
    </div>
    </div>
</footer>


