.sidebar {
  margin: 0;
  padding: 0px;
  width: 200px;
  background-color:#a74086;
  position:absolute;
  height: 100%;
  /* overflow: auto; */
  /* z-index: -1; */
}
.background{
  padding-top: 6.4%;
}
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color:white;
  color: #a74086;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.content{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

h3{
  color: white;
  display: block;
  padding: 16px;
}